name: Build Application

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '9.0'

      - name: Restore dependencies
        run: dotnet restore backend/MoBowlingPlz.WebApi/MoBowlingPlz.WebApi.csproj

      - name: Build application
        run: dotnet build backend/MoBowlingPlz.WebApi/MoBowlingPlz.WebApi.csproj --configuration Release

      # - name: Run tests
      #   run: dotnet test backend/MoBowlingPlz.WebApi/MoBowlingPlz.WebApi.csproj --configuration Release

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install --prefix frontend

      - name: Build application
        run: npm run build --prefix frontend

      # - name: Run frontend tests
      #   run: npm test