name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    runs-on: ubuntu-latest
    needs: build
    # if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - name: Deploy
        uses: ./.github/workflows/deploy.yml